@font-face {
  font-family: "rapScript.otf";
  src: url("assets/fonts/Harabara.eot");
  src: url("assets/fonts/Harabara.otf") format("opentype"),
}

body {
  background-image: url("../../assets/images/ethereum.jpg");
  /* Full height */
  background-size: cover;
}

h1 {
  color: gold;
  font-family: rapScript;
  padding: 25px;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: bold;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -5px 5px 0 #000, 2px 2px 0 #000;
}

p {
  color: gold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  font-size: 25px;
}

.gifButtons {
  background-color: black;
  border: gold;
  color: gold;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: rapScript;
  text-shadow: 10px;
  box-shadow: -1px 1px 5px 1px rgb(245, 250, 4);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

}